<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .jumbotron {
            background-color: #343a40;
            color: #fff;
            padding: 100px 0;
            margin-bottom: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .jumbotron .lead,
            .jumbotron .btn-lg {
                margin-top: 20px;
            }

        h2 {
            font-size: 2rem;
            margin-bottom: 2rem; /* Reduced the bottom margin */
            font-weight: 500;
            line-height: 1.2;
        }

        .text-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .img-section {
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .img-section img {
                max-width: 100%;
                height: auto;
                margin-bottom: 0; /* Remove the excessive margin */
            }
    </style>
</head>
<body>

    <div class="jumbotron text-center">
        <h1 class="display-4">Student Management System</h1>
        <p class="lead">Manage student data efficiently using ASP.NET MVC CRUD operations.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-section">
                    <h2>Welcome to Our Student Management System</h2>
                    <p class="text-justify">Our Student Management System is a comprehensive platform designed to streamline student administration, enhance communication, and improve overall efficiency in managing student data. With this system, we aim to provide a seamless experience for students, faculty, administrators, and parents.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-section text-center">
                    <img src="~/images/imag.png" alt="Image">
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-b4gt1jrGC7Jh4AgTPSdUtOBvfO8shCk2R8HbYaNrTIoPkzXrJf5n+J0kR98+1SJo" crossorigin="anonymous"></script>
</body>
</html>
